@use "@/scss/abstracts/variables" as v;

.hero {
  padding: 5rem 0;
  color: v.$color-white;
  background-color: v.$color-body;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.section-eyebrow {
  font-size: v.$font-size-hero-eyebrow;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.hero__title {
  --text-gradient-shimmer-base-color: #{v.$color-white};

  font-size: v.$font-size-hero-title;
  line-height: v.$line-height-hero-title;
}

.hero__actions {
  display: flex;
}
