@use "@/scss/abstracts/variables" as v;

html {
  font-size: v.$font-size-base;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: v.$line-height-base;
}

h1,
h2 {
  margin: 0;
  font-weight: 300;
}
